#title {
    font-family: 'Source Sans Pro';
    font-size: 22px;
    color: #696969;
    text-decoration: none;
}

#title:link {
    text-decoration: none;
}

#title:visited {
    text-decoration: none;
}

.main {
    display: flex;
}

#gridPlayer, #gridTeam, #gridSchedule, #gridTable {
    width: 80%;
    margin: 20px auto;
    height: 500px;
}

#gridTable, #gridTeam, #gridSchedule {
    height: auto;
}

.nav {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #eae8e8;
    height: 60px;
}
